# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Test output
coverage/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Operating systems
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
